*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
}

a{
    cursor: pointer;
    text-decoration: none;
}

::placeholder{
    color:#d2d2d2;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    display: flex;
    width: 100%;
    background: #06f;
    min-height: 100vh;
    flex-direction: column;
 
}

.headerSector{
    display: flex;
    width: 100%;
    height: 4.75rem;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
}

.headerLogo{
    display: flex;
    width: 1200px;
    height: 4.75rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.25rem;
    color: #fff;
}

.logoImage{
    width: 178px;
    height: 24px;
    object-fit: contain;
}

.mainLayout{
    display: flex;
    justify-content: center;
}

.mainSector{
    display: grid;
    grid-template-columns: auto 470px;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "leftSide rightSide";
    padding: 0 1.25rem;   
    width: 1200px;
}


.leftSide{
    grid-area: leftSide;
    width: 100%;
    height: 100%;
}

.leftComment1{
    margin-top: 6.75rem;
    margin-bottom: 0.875rem;
    color: rgb(255,255,255,.7)
}

.leftComment2{
    font-size: 1.5625rem;
    font-weight: 900;
    color: white;
}

.rightSide{
    grid-area: rightSide;
    width: 100%;
    height: 100%;
}

.loginSection {
    width: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 0.9375rem 0.9375rem;
    margin-top: 6.75rem;
    background-color: #f4f4f4;
}

.loginBox {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.loginAndSignin{
    display: grid;
    width: 100%;
    height: 3.125rem;
    align-items: center;
    border-radius: 0.9375rem 0.9375rem;
    grid-template-columns: 1fr 1fr;
}

.login{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem 0.9375rem;
    margin: auto;
    box-sizing: content-box;
    padding-bottom: 1rem;
    background-color: #fff;
    color: #0078ff;
    font-weight: 700;
    cursor: pointer;
}

.signin{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem 0.9375rem;
    margin: auto;
    box-sizing: content-box;
    padding-bottom: 1rem;
    background-color: #f4f4f4;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.infBox{
    width: 100%;
    height: 100%;
    padding: 1.875rem 2rem;
    border-radius: 0.9375rem;
    background-color: #fff;
}

.emailText{
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .8125rem;
    font-weight: 1000;
}

.email{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.emailIcon{
    position: absolute;
    left: 1.0625rem;
    color: #d2d2d2;
}

.fa-xs{
    font-size: 18px;
}

.email input {
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
    color:#d2d2d2;
}

.email input.emailDesign{
    padding-left: 2.75rem;
}

.password{
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.passwordText{
    display: flex;
    margin-top: 2.25rem;
    width: 100%;
    margin-bottom: 0.5rem;
    font-size: .8125rem;
    font-weight: 800;
    justify-content: space-between;
}

.password input.passwordDesign{
    padding-left: 2.75rem;
}

.bluefont{
    color:#0066ff;
}

.password input {
    justify-content: center;
    width: 100%;
    height: 2.875rem;
    padding: 0.5rem 2.5rem 0.5rem 0.875rem;
    border: 1px solid #d2d2d2;
    border-radius: 0.25rem;
}

.passwordIcon{
    position: absolute;
    left: 1.0625rem;
    color: #d2d2d2;
}   

.eyeIcon{
    position: absolute;
    right: 0.5rem;
    cursor: pointer;
}
.eyeIcon img{
    width: 35px;
    height: 35px;
}

.loginButton{
    width: 100%;
    height: 2.75rem;
    border-radius: 4px;
    margin-top: 2.75rem;
    background-color: #4981f8;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    border-style: none;
    cursor: pointer;
}

.otherLogin{
    width: 100%;
    justify-content: center;
    margin-top: 3.5rem;
    font-size: .8125rem;
    text-align: center;
    background-color: #fff;
}

.otherLoginText{
    margin-bottom: 1.5rem;
}

.loginbuttonZone{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
}

button{
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.loginbuttonZone img{
    width: 50px;
    height: 50px;
    object-fit: contatin;
    background: none;
}

.otherInfo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3.75rem;
    font-size: .9375rem;
    color: #fff;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    width: 1px;
    height: .75rem;
    margin: 0 1.125rem;
    background: #fff;
    opacity: .3;
}